<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="userMapper">

    <!--查询操作-->
    <select id="findAll" resultType="user">
        SELECT * FROM user
    </select>

    <!--插入操作-->
    <insert id="save" parameterType="user">
        INSERT INTO user VALUES(#{id}, #{username}, #{password})
    </insert>

    <!--修改操作-->
    <update id="update" parameterType="user">
        UPDATE user SET username = #{username}, password = #{password} WHERE id = #{id}
    </update>

    <!--删除操作-->
    <delete id="delete" parameterType="int">
        DELETE FROM user WHERE id = #{id}  <!--一个参数可以直接写#{x},x为任意值包括空-->
    </delete>

    <!--根据id进行查询操作-->
    <select id="findById" parameterType="int" resultType="user">
        SELECT * FROM user WHERE id = #{id}
    </select>

</mapper>